@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1><br><br>Uh oh.</h1>
        <h2>NextMile has encountered an error in one of its dependent services.</h2>
        <h2>See the below error message for more info:</h2>
        <h3><t>@ViewData["ErrorDetail"]</h3>
    </hgroup>
</body>
</html>
